.header {

  background-color: #ffffff;
  border-color: #cccccc;
  font-family: "Georgia", "Times", "Times New Roman", "serif";

}




.main {
    color: #777777;
    font-size: 1em;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    background-color: #ededed;
    width: 960px;
    
}



.footer {
  color: #777777;
  font-size: 1em;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.nav {
  float: right;
}