.header {

  background-color: #ffffff;
  border-color: #cccccc;
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  border-bottom: 2px solid #cccccc;

}

.headercontent {

  width: 960px;
  margin: 0 auto;

}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  color: #4aaaa5;
  border-bottom: 3px solid #cccccc;
  line-height: 100px;
  width: auto;
  font-size: 36px;
  font-weight: bold;

}


#name {
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: #4aaaa5;
  font-size: 36px;
  color: white;
  width: auto;
  height: 75px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  font-weight: bold;
}


.main {

    margin: 0 auto;
    color: #777777;
    font-size: 1em;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top: 20px;

    
     
}

.myinfo {

  line-height: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  margin-top: -6px;

}



.portfolioinfo {
  margin-left: 20px;
  
 

}

.placeholder1 {
  float: left;
  padding-bottom: 20px;
  }

.placeholder2 {
float: right;
padding-right: 30%;
padding-bottom: 20px;

}

.placeholder3 {
  clear: both;
  float: left;
  padding-bottom: 20px;
  
  }

  .placeholder4 {
    float: right;
    padding-right: 30%;
    padding-bottom: 20px;
    
    }

    .placeholder5 {
       float: left;
      padding-bottom: 20px;
      
      }
  


#headshot {
  float: left;
  width: 150px;
  padding-right: 20px;
  padding-left: 20px;
}




}






body {
background-image: url("../images/interlaced.png");
}

